language:
- php
- node_js
install: npm install
cache:
  directories:
  - node_modules
before_deploy:
- echo "All unit tests passed; Preparing to deploy $TRAVIS_BRANCH"
php:
- 7.1
node:
- 14
script:
- composer install
after_success:
- ENVIRONMENT_NAME=$TRAVIS_BRANCH
- if [ "$TRAVIS_BRANCH" == "master" ]; then ENVIRONMENT_NAME=production; fi
deploy:
- provider: script
  skip_cleanup: true
  script: "./scripts/travis-deploy.sh $ENVIRONMENT_NAME"
  on:
    all_branches: true
    condition: "$ENVIRONMENT_NAME =~ ^(development|qa|production)$"
after_deploy: echo "Successfully executed deploy trigger for $TRAVIS_BRANCH"
env:
  global:
  - secure: jUHsA2/bqcxZEc91qzLCEr7i+jKLhWzPZfbqDXc3g9g6bKxzQL85BE55kD8bymLc/WCvq4s7+/MRmHSO6Fp+0YC6809lnapYMpLgJEyk+NfOE3IfhkI78/bIJQ/LsxqcLFYCo83S+U4v/I+1n+dwVDodmzoVgXQCxJghA4Rg7CwZvcXokSZ0N6Lz8uGneHm6DjA9PHykS72JIFuQ91r6nO4XdVthW4vJdtlKUJIqv2gmpoMEbvwKa8eWiOg9LpEaI2srL33g6bpb5OqetfqhELbsxAdaZFQCnBf2fnnb88+xIo3Ky6nk73y2yA4LA82YkZqUiuX1DOlZa08kvxBQqUS0o4jdmpY12ILv5/p3ayaKzqSdgkMpfV26kUWW8kRdgFdBj5OPJosBGzWq5TxdLdzY3gCat52WGXQTooOi6O/JqE6XyprB3iuoIvuLFjs1osQ+DBuowS00OI2eP6atX31v/C+DTebYHOiGCPvMzwvDQSJgj+YcAhsf5MHe04L95897BlfPlwYLHrA5ZlNJEe4hOBphgiv6euQWGKCN7BFrI2ghpXru7Nm5udCe0csIR+Ce4cbqsn+u0oDr3A78lDCSCw/MBCagfXx5Pa7CKOthc5MYKLFbTQdpKWt0kKar0/6Qg9yzHahrcKnl99t8vdifxrC7n/38LQEAZAq0QgE=
  - secure: rDeUyxTrZyYvC50MtmqJGoIyLgbkbeKbapx09n7i4VwQ7y04W5jJhxRQ5YNUin2OKh4nzDXRHPIgfx8EaWmbSlpfwh/MoYTPSsFQdg4WzfD9CPl+dwpIHsIaTbyNlnk4xNiwKfeeFtvKBZuOnE4jCUdry0bWbaR3Ilwva0StMm/buw/5ef3FCzrZC7OBh9fLRRp8WYbpCtbUd9GjdgFPFJR9s4ZQQBjBO+6Yxw6MGjeFzNCLcseal1r9718R6Gk15jq9mwANq3gHwkSjBsd+bjEhB1V9poOEU+qQbvLPoah0wLLflyPSdvlL+sIy/LQcneMY9n+Q20xRhj76ZriU9dHwZ3GZFqoGMg1hlCFKT5CdBTBWSFF0myZ9OFRfpn1CnkWagVMz8LGWBoeMerVWKum3/y0qFDrPu974rb1h7IvRfP0stldHS9j2uBD71SCVvymKppoOwVu/BOE/ONitKZ8KcARg9Lvj3hBqLR755XVXqCzgBndWWTjmO8YkHQuptSzTjibNkjvUyIQPHpsTeOWfciftDwnQGf4Yb6+lBvWs1QKnJ9UEb13KGMzo/eRsdqvNanwP7+aQPWifrEq4aL0BQAy8mknYljx58f9rL0gk7sOQaR7fxjdlE6r3YKjeNSiaIOxvBLTKPRpOqd/ZxS0XPumUbylI7Bc8ZFxQgAM=
  - secure: j7nbqtEjVQ7i5ruo0lbrp+Vxk7fZast9h0v5QpLr8o8AqmbUltWMZFGM5j+Hz4wZI5a22TjYws2m6c8WjwsWphZGc7b94lh61RvR5EzoB0z0gwZ4Org7kvsi1eKS85PZ0mnbGNmuF3W+z/CGtLM+4HavrYqR/HkvAZPtWUt97lZQ9UEPqvzd4X+S+WHg3QwJHQ9Vv6JH0Gdwov9VIKHkFYD2Yx/D1KZnWcYCVOU8hjZ3NHTH+Cy/4ThrjOlFzoOhBRCzbBh0sFMwPJEsya92R4vzP3L7qYkI/IvefwjoRZJU++/oUWhGy8BMObj6fsk+mSSgjB0Gasevf9024dBExIMpWlXSH1cAesykLctHODHki8mt8M/SREXx3DF2k9sz1d3oci3TWjU7GEDYQ7k6/1doZWgSOOUT+OU7Z3zjcz9mJYtcP/uxPId/2KX6mUdMQIC+tHB2Z7gBtU5GA1bE8Eo+JP9LrlLWfapYM6FIUDzlzsiHHGKnaK4vopdmJblU0JcYwykfDp7s9XXW/kzmmRkmoP965KX9qqjNUXmt7pxpM6ov9dgTDueeR8ijIJowl7qUevM4/EAPh8ZdaEeGt8mOAYP9OV4pRrSuYPPpvvo7SAr/rMrdnDZXtgAkNwCy0bLve/pOLAxUiLtmmIIL7tXHxmjvkEBH/D3JQOxeSQw=
